/* Navbars Styles Css */

nav {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0 15px 25px rgba(0,0,0,0.1);
  height: auto;
  max-width: 100%;
  position: fixed;
  z-index: 99999;
  border-radius: 0px;
}

nav a {
  color: var(--text-color-h2) !important;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}


nav .logo {
    width: 80px;
    height: 80px;
}




